node_modules/
package-lock.json
dist/
.env
.DS_Store
.vscode/
coverage/
.next/
*.log
*.tsbuildinfo
*.swp
*.swo
*.bak
*.tmp
*.cache
*.tgz
*.zip
*.rar
*.tar.gz
__pycache__/
*.pyc
load-data.py
